<nav class="navbar navbar-s1 navbar-side" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " style="color:yellow" href="">Battalion</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="side" class="nav navbar-nav side-nav">

            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>

            <li class="panel">
                <a class="accordion-toggle" data-target="#catalog" data-toggle="collapse" data-parent="#side"> Catalog
                    <i class="fa fa-caret-down"></i></a>
                <ul id="catalog" class="collapse nav">
                    <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Categories</a></li>
                    <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                    <li class="panel">
                        <a class="accordion-toggle" data-target="#affliate" data-toggle="collapse">Affliate <i
                                class="fa fa-caret-down"></i></a>
                        <ul id="affliate" class="collapse nav">
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Categories</a></li>
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="panel">
                <a class="accordion-toggle" data-target="#extension" data-toggle="collapse" data-parent="#side">
                    Extension <i class="fa fa-caret-down"></i></a>
                <ul id="extension" class="collapse nav">
                   
                    <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                    <li class="panel">
                        <a class="accordion-toggle" data-target="#modules" data-toggle="collapse">Modules <i
                                class="fa fa-caret-down"></i></a>
                        <ul id="modules" class="collapse nav">
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Categories</a></li>
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="panel">
                <a class="accordion-toggle" data-target="#sale" data-toggle="collapse" data-parent="#side"> Orders <i
                        class="fa fa-caret-down"></i></a>
                <ul id="sale" class="collapse nav">
                   
                    <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                    <li class="panel">
                        <a class="accordion-toggle sub-link" data-target="#customer" data-toggle="collapse">Customer <i
                                class="fa fa-caret-down"></i></a>
                        <ul id="customer" class="collapse nav">
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Sales Orders</a></li>
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Purchase Orders</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="panel">
                <a class="accordion-toggle" data-target="#system" data-toggle="collapse" data-parent="#side"> Staff Registry <i
                        class="fa fa-caret-down"></i></a>
                <ul id="system" class="collapse nav">
                   
                    <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                    <li class="panel">
                        <a class="accordion-toggle sub-link" data-target="#setting" data-toggle="collapse">Setting <i
                                class="fa fa-caret-down"></i></a>
                        <ul id="setting" class="collapse nav">
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Categories</a></li>
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="panel">
                <a class="accordion-toggle" data-target="#reports" data-toggle="collapse" data-parent="#side"> Inventory
                    <i class="fa fa-caret-down"></i></a>
                <ul id="reports" class="collapse nav">
            
                    <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                    <li class="panel">
                        <a class="accordion-toggle sub-link" data-target="#report-sale" data-toggle="collapse">Sale <i
                                class="fa fa-caret-down"></i></a>
                        <ul id="report-sale" class="collapse nav">
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Categories</a></li>
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="panel">
                <a class="accordion-toggle" data-target="#reports" data-toggle="collapse" data-parent="#side"> Stock Notification
                    <i class="fa fa-caret-down"></i></a>
                <ul id="reports" class="collapse nav">
            
                    <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                    <li class="panel">
                        <a class="accordion-toggle sub-link" data-target="#report-sale" data-toggle="collapse">Sale <i
                                class="fa fa-caret-down"></i></a>
                        <ul id="report-sale" class="collapse nav">
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Categories</a></li>
                            <li><a class="sublink" href=""> <i class="fa fa-angle-double-right"></i> Products</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user">&nbsp;</i>User<b
                        class="caret"></b></a>
                <ul class="dropdown-menu"> 
                    <li><a class="sublink" href="">Profile</a></li>
                    <li><a class="sublink" href="">Settings</a></li>
                    <li><a class="sublink" href="">logout</a></li>
                </ul>
            </li>
        </ul>

    </div>

</nav>

